.homeMain-contents {
  display: grid;
  width: 100%;
  grid-template-columns: 16% 82%;
  column-gap: 2rem;
  /* justify-items: center; */
}
.homeMain-contents .page-number {
  grid-column-start: span 2;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.headerMain {
  position: relative;
  z-index: 20;
}

.overlay-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dim effect */
  z-index: 10; /* Ensure it's above the main content but below the modal */
}
/* .homeMain .cart-main {
  border: 1px solid #ffffff;
  background: #ffffff;
  z-index: 20;
  position: absolute;
  right: 0;
  max-width: 34%;
  max-height: 70vh;
  overflow-y: scroll;
} */
