.product-main-content .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  justify-items: center;
}
.product-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  margin-top: 3.6rem;
  margin-bottom: 3.4rem;
}

.products .prodDesc,
.products .prodPrice {
  font-weight: 600;
  line-height: 19.5px;
}

.products img {
  border-radius: 10px;
  max-width: 100%;
}
