.headerMain {
  background-color: #14335a;
  display: grid;
  grid-template-columns: 16% 0.6fr 0.2fr;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.search-btn {
  display: flex;
  align-items: center;
}
.search-btn-input {
  background-color: transparent;
  display: inline-block;
  line-height: 19.5px;
  text-align: left;
  border: 1px solid #fafafa;
  width: 21rem;
  height: 2.81rem;
  border-radius: 15px;
  color: white;
  font-weight: 400;
  padding-left: 2.5rem;
}
.search-btn-input::placeholder {
  color: #fafafa;
  font-weight: 400;
}
span svg.search-icon:hover {
  filter: invert(13%) sepia(99%) saturate(1900%) hue-rotate(178deg)
    brightness(40%) contrast(120%);
}
.search-btn span {
  position: absolute;
  margin: 0 1rem;
}
.header-logo {
  justify-self: center;
}
.search-btn > * {
  margin: 0 0.5rem;
}
.icon-group {
  justify-self: flex-end;
  display: flex;
}
/* .icon-group > * {
  margin-right: 2rem;
} */
.cart-page > * {
  margin-right: 2rem;
}
#menu-icon,
.cart-icon-sm {
  display: none;
}
