.cart-main > * {
  padding: 0 1.2rem;
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
  text-align: left;
}
.clear-cart-icon:hover {
  filter: grayscale(100%) brightness(0%) contrast(100%) sepia(72%);
}
.clear-cart span {
  font-weight: 500;
  grid-column-start: span 2;
}
.blue-product {
  max-width: 10rem;
  border-radius: 10px;
}
.cart-products > *:not(.order-summary, .checkout-link) {
  display: grid;
  grid-template-columns: 5% min-content 1fr 0.2fr;
  align-items: center;
  justify-items: center;
}
.cart-product {
  margin: 1rem;
}
.order-summary {
  display: flex;
  flex-direction: column;
}
.order-summary > * {
  display: flex;
  justify-content: space-between;
}
.cart-products > * {
  margin-bottom: 1.5rem;
}
.cart-products > * .checked-icon {
  margin-left: 1.2rem;
  margin-right: 2.4rem;
}
.product-desc,
.product-price {
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.product-details,
.action-icons,
.numerical-icons {
  display: flex;
}
.action-icons {
  justify-content: space-between;
}
.numerical-icons {
  align-items: center;
  /* max-height: 2rem; */
  border: 1px solid #9f9c9c;
  border-radius: 5px;
}
.numerical-icons > * {
  padding: 0.35rem;
  max-height: 100%;
}
.numerical-icons .quantity {
  padding: 0 1rem;
}
.numerical-icons .plus-icon,
.numerical-icons .quantity {
  border: solid #9f9c9c;
  border-width: 0 1px 0 0;
}

.product-details {
  justify-self: flex-start;
  flex-direction: column;
  margin-left: 0.5rem;
}
.numerical-icon,
.quantity {
  height: fit-content;
}

.numerical-icons .quantity {
  font-size: 0.95rem;
}
.order-summary p {
  margin: 0.5rem;
  font-weight: 500;
  line-height: 19.5px;
}
.checkout-btn {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10px;
  background: var(--Primary-Primary, #14335a);
  /* font-size: 0.95rem; */
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.checkout-btn:hover {
  background-color: #051b35;
}
.checkout-btn:active {
  background-color: #051b35;
}
#exit-icon-sm,
#checkout-link-sm {
  display: none;
  position: absolute;
}

@media screen and (max-width: 375px) {
  .cart-products > *:not(.order-summary, .checkout-link) {
    grid-template-columns: 5% min-content 1.5fr 0.2fr;
  }
}
