.category-main {
  height: 100vh;

  padding-left: 1.1rem;
}
.category-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exit-icon:hover {
  filter: grayscale(100%) brightness(0%) contrast(100%);
}
.category-main-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.31rem;
  margin-top: 1.2rem;
}

.category-main-contents p:not(.category-main-title) {
  margin: 0;
  font-weight: 500;
  line-height: 19.5px;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
}
.category-main-contents p:hover {
  background-color: #14335a;
  color: #fafafa;
}
.category-main-contents p:active {
  background-color: #14335a;
  color: #fafafa;
}
.category-main-active-category {
  font-weight: 600 !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.category-main-header .exit-icon {
  margin-right: 1rem;
}
