.homeMain-contents {
  display: grid;
  width: 100%;
  grid-template-columns: 16% 82%;
  column-gap: 2rem;
  /* justify-items: center; */
}
.homeMain-contents .page-number {
  grid-column-start: span 2;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.headerMain {
  position: relative;
  z-index: 20;
}

.overlay-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.homeMain .cart-main {
  border: 1px solid #ffffff;
  background: #ffffff;
  z-index: 20;
  position: absolute;
  right: 0;
  max-width: 45%;
  max-height: 80vh;
  overflow-y: scroll;
}
@media screen and (max-width: 769px) {
  body {
    font-size: 13px;
  }
  .sidebarMain {
    display: none;
  }
  .product-main-content .products {
    grid-template-columns: 1fr 1fr;
  }
  .homeMain-contents {
    display: flex;
    width: 100%;
    column-gap: 2rem;
    padding: 2rem;
    /* justify-items: center; */
  }
  .toggle-filter {
    display: none;
    color: #fafafa;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  }
  .toggle-filter span {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
  .toggle-filter {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .logo-img {
    width: 80%;
    margin-left: 0.7rem;
  }
}
@media screen and (min-width: 1700px) {
  .productlistings-home-main {
    max-width: 1500px;
    margin: auto;
  }
}
