.sunscreen-main-content .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  justify-items: center;
}
.sunscreen-main-content {
  padding-right: 3rem;
}
.sunscreen-header,
.toggle-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-filter {
  gap: 1rem;
  border: 1px solid var(--Primary-Primary, #14335a);
  background-color: #14335a;
  color: #fafafa;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 10px;
}
.toggle-filter:hover {
  background-color: #040c17;
}
.sunscreen-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  margin-top: 3.6rem;
  margin-bottom: 3.4rem;
}

.products .prodDesc,
.products .prodPrice {
  font-weight: 600;
  line-height: 19.5px;
}

.products img {
  border-radius: 10px;
  max-width: 100%;
}
.cart-icon:hover {
  background-color: #14335a41;
}
.heart-icon:hover {
  filter: invert(27%) sepia(89%) saturate(6354%) hue-rotate(357deg)
    brightness(95%) contrast(107%);
}
