.checkout-main-header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.checkout-main-header p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.cart-main {
  height: fit-content;
}
.checkout-main-header p > * {
  margin: 0 1rem;
}
.checkout-main-contents {
  border: solid var(--Neutrals-Neutrals200, #cbcbcb);
  border-width: 1px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 0.85fr;

  gap: 2rem;
  padding: 1rem;
}
.checkout-main-contents > * {
  margin-top: 1rem;
  border: 1px solid var(--Neutrals-Neutrals200, #cbcbcb);
  border-radius: 10px;
}
.checkout-main-contents .cart-title {
  margin-bottom: 1.5rem;
}
.checkout-main-contents .cart-products > * {
  grid-template-columns: 0.2fr 1.51fr;
}
.checkout-main-right {
  padding: 2rem;
  padding-right: 0;
}
.shipping-information input,
.payment-details input:not(#card-cvv, #card-expiry) {
  display: block;
  padding: 1rem;
  min-width: 90%;
  max-width: 95%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin-bottom: 0.25rem;
}
.shipping-information input::placeholder,
.payment-details input::placeholder {
  font-weight: 500;
  color: #898384;
  line-height: 24px;
}
.shipping-information label,
.payment-details label {
  font-weight: 500;
  display: block;
  margin: 1.5rem 0;
}
.shipping-title,
.payment-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
}
.payment-details-checkout,
.payment-details-checkout-with-trans {
  display: block;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 2rem;
  margin: 10px 0;
  border: 1px solid #14335a;
  border-radius: 10px;
  min-width: 90%;
  max-width: 95%;
}
.save-select-cntr {
  margin: 1rem 0;
}
.payment-details-checkout {
  background: var(--Primary-Primary, #14335a);
  color: white;
}
.payment-details-checkout:hover {
  background: #081a31;
  color: white;
}
.payment-details-checkout-with-trans {
  background-color: transparent;
}
.payment-details-checkout-with-trans:hover {
  background-color: #cbcbcb;
}
.checkout-main-header p:hover {
  color: #1b5fb7;
}
.card-specifics {
  display: flex;
  gap: 0.9rem;
}
#card-expiry,
#card-cvv {
  display: inline-block;
  gap: 10px;
  width: 42% !important;
  padding: 1rem;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.card-info {
  background-image: url("../../assets/images/sunscreen-page/payment-options.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.order-complete-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  padding: 2rem;
}
.order-complete {
  text-align: center;
}
.order-complete-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.party-popper-svg {
  width: 50px;
  height: 50px;
}

.order-complete p {
  margin: 10px 0;
}

.payment-details-checkout {
  margin-top: 20px;
}

hr {
  /* border: solid #9f9c9c;
  border-width: 1px; */
  color: #9f9c9c;
}
.checkout-page .cart-page {
  display: none;
}
@media screen and (max-width: 1024px) {
  .cart-main {
    display: none;
  }
  .checkout-main-contents {
    display: flex;
    flex-direction: column;
  }
  .checkout-main-header {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  body {
    font-size: 11px;
  }
}
