.product-details-page .product-details {
  display: flex;
  grid-template-columns: 0.6fr 0.7fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  padding: 1rem;
}
.product-details-page .cart-main {
  position: absolute;
  z-index: 30;
  background-color: #fafafa;
  right: 0;
}
.product-details .product-image img:not(.heart-icon, .cart-icon) {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}
.product-details .product-image img:not(.heart-icon, .cart-icon) :hover {
  opacity: 1;
}
.product-info h1 {
  margin-bottom: 0.8rem;
}

.product-info .prodPrice {
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  color: #ed1e1e;
}

.product-info p.category {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
  color: #14335a;
}
.product-info p.desc {
  font-weight: 500;
  line-height: 1.5rem;
  white-space: pre-wrap;
  font-size: 2rem;
}
.back-products {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1rem;
}
product-details {
  width: minmax(90%, 90%);
}

@media screen and (max-width: 768px) {
  .product-details-page .product-details {
    display: flex;
  }
  .product-info p.desc {
    width: initial;
  }
}

/* .heart-icon,
.cart-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
  */
